h2{
color: blueviolet;
}
 body{
color: rgb(255, 255, 255);
    background-color:black

 }
 ol{

background-color:rgb(3, 100, 0);
padding-right: 90px;
margin-left: 50px;
margin-right: 150px;
}

ul{ 

background-color:rgb(3, 100, 0);
padding-right: 90px;
margin-left: 50px;
margin-right: 150px;

}

